/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: 'Louis George Cafe';
  src: url('/assets/Louis George Cafe-d9s6_2-Q.ttf');
}
@font-face {
  font-family: 'Avenir';
  src: url('/assets/Metropolis-Regular-swbydZ-b.otf');
}
:root {
  --font-family-header-1:'Avenir';
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --vt-c-text-dark-3: rgba(50, 50, 50, 0.9);

  --vt-c-green-light-1: rgba(80, 220, 100, 1);
  --vt-c-green-dark-1: rgba(108, 184, 96, 1);

  --vt-c-grey: rgba(168, 182, 165, 1);

}
/* semantic color variables for this project */
:root {
  --color-background-pdf: var(--vt-c-background-pdf-like);
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-title: var(--vt-c-green-light-1);
  --color-background-heading: var(--vt-c-grey);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading-1: var(--vt-c-white);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-black-soft);
  --color-text-1: var(--vt-c-text-dark-3);

  --color-separator: var(--vt-c-green-dark-1);

  --section-gap: 160px;

  --vt-c-background-pdf-like: rgba(212, 212, 215, 1);
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-header: var(--vt-c-green-light-1);
    --color-background-heading: var(--vt-c-text-dark-2);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading-1: var(--vt-c-text-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Louis George Cafe,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#app {
  max-width: 210mm;
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--color-background);
}
body {
  margin:0 auto;
  background-color: var(--color-background-pdf);
}
@media print {
  .web {
    display: none;
  }
}
@media not print {
  .print {
    display: none;
  }
}
@page {
  size: A4 portrait;
  margin: 0 !important;
}
@media print {
  * {
    float: none;
    overflow: hidden;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .break-page{
    break-before:always;
  }
}
.cv-h1[data-v-294f5d62] {
    line-height: 1;
    color: var(--color-heading-1);
    font-weight: 500;
    font-size: 2rem;
    font-family: var(--font-family-header-1);
}

.title-wrapper[data-v-7a5ab898] {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 3rem 0.5rem 3rem;
  background-color: var(--color-background-title);
}
.title-infos[data-v-7a5ab898]{
  margin: 0.6rem 0;
  line-height: 0.9rem;
  font-size: 0.9rem;
  color: var(--color-text);
}
.title-infos-wrapper-end[data-v-7a5ab898]{
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: end;
}
.info-link[data-v-7a5ab898]{
  color: black;
  font-weight: 650;
}
.info-bold[data-v-7a5ab898]{
  font-weight: 650;
}

.cv-h2[data-v-5e139ef9] {
    font-size: 1.7rem;
    font-weight: 550;
    text-transform: uppercase;
    font-family: 'Avenir';
}

.cv-experiences-header[data-v-e0017762]{
        padding: 0 3rem;
        max-width: 52%;
        min-height: 2rem;
        background: var(--color-background-heading) ;
}

.experience-section[data-v-0046633d]{
  margin: 0 1rem;
}
.experience-header[data-v-0046633d] {
  display: flex;
  gap: 2.5rem;
  font-size: 1rem;
  line-height: 1.1rem;
}
.bold[data-v-0046633d]{
  font-weight: 600;
}
.experience-stack[data-v-0046633d]{
  font-weight: 500;
  color: var(--color-text-1);
  font-size: 1.1rem;
}
.experience-description[data-v-0046633d]{
  color: var(--color-text-1);
  font-size:1rem;
  line-height: 1.2rem;
}
.experience-detail[data-v-0046633d]{
  text-indent: 3rem;
}

.cv-h3[data-v-d3a551dc]{
        font-size: 1.1rem;
        line-height: 1.2;
        font-weight: 550;
}

.cv-horizontal-separator[data-v-a5b27583] {
  height: 100%;
  width: 4px;
  background-color: var(--color-separator);
}
.cv-absolute-separator[data-v-a5b27583]{
  position: absolute;
  left:3rem;
}

.cv-skill-wrapper[data-v-94eeb269]{
        position: relative;
}
.cv-skill-header[data-v-94eeb269]{
        margin-bottom: 0.5rem;
}
.cv-skill-description[data-v-94eeb269]{
        font-size: 0.95rem;
        line-height: 1.1rem;
}

.cv-skills-section[data-v-929032b1] {
    width: 100%;
    display: flex;
}
.cv-skills-info[data-v-929032b1] {
    flex: 0.3
}
.cv-skills-separator[data-v-929032b1] {
    flex: 0.05
}

.cv-project-section[data-v-3275ff9f]{
      margin: 1rem 0;
      font-size: 1.05rem;
      line-height: 1.3rem;
}

.cv-section-wrapper[data-v-bd594cbe] {
  display: flex;
  flex: 1;
  position: relative;
  margin:1rem 0;
}
.cv-section-content[data-v-bd594cbe] {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.cv-page-separator[data-v-622f1e79] {
  height: 2rem;
  width: 100%;
  background-color: var(--vt-c-background-pdf-like);
}

.cv-page-wrapper[data-v-e95020d3] {
  position: relative;
  height: 297mm;
}

.mb-2[data-v-4c8851cf]{
  margin-bottom: 2rem;
}
