<script setup lang="ts">
import type { Experience } from "@/types/Experience";
import { PropType } from "vue";

defineProps({
  experience: {
    type: Object as PropType<Experience>,
    required: true,
  },
});
</script>

<template>
  <div class="experience-section">
    <div class="experience-header">
      <div>
        <p class="bold">{{ experience.years }}</p>
        <p class="bold">{{ experience.duration }}</p>
      </div>
      <div>
        <p class="bold">{{ experience.job }}</p>
        <p>
          <span class="bold">{{ `${experience.company}, ${experience.city} (${experience.country})` }}</span>
        </p>
      </div>
    </div>
    <div></div>
    <div class="experience-stack">
      Stack : <span>{{ experience.stacks.join(", ") }}</span>
    </div>

    <div class="experience-description" v-for="experienceInfo, i in experience.infos" :key="i">
      - {{ experienceInfo.description }}
      <template v-if="experienceInfo.details && experienceInfo.details.length > 0">
        <p class="experience-detail" v-for="detail, index in experienceInfo.details" :key="index">
          {{ detail }}
        </p>
      </template>
    </div>
  </div>
</template>

<style scoped>

.experience-section{
  margin: 0 1rem;
}
.experience-header {
  display: flex;
  gap: 2.5rem;
  font-size: 1rem;
  line-height: 1.1rem;
}
.bold{
  font-weight: 600;
}

.experience-stack{
  font-weight: 500;
  color: var(--color-text-1);
  font-size: 1.1rem;
}

.experience-description{
  color: var(--color-text-1);
  font-size:1rem;
  line-height: 1.2rem;
}

.experience-detail{
  text-indent: 3rem;
}
</style>