<script setup>
import CvHeader2 from '@/components/cv/atom/CvHeader2.vue';
</script>

<template>
    <div class="cv-experiences-header">
        <CvHeader2><slot></slot></CvHeader2>
    </div>
</template>

<style scoped>
    .cv-experiences-header{
        padding: 0 3rem;
        max-width: 52%;
        min-height: 2rem;
        background: var(--color-background-heading) ;
    }
</style>