<script setup lang="ts">
import CvPageSeparator from '@/components/cv/atom/CvPageSeparator.vue'

defineProps({
  break: Boolean
})
</script>

<template>
  <div class="cv-page-wrapper">
  <CvPageSeparator v-if="break" style="padding-bottom:2rem;"></CvPageSeparator>
    <slot></slot>
  </div>
</template>

<style scoped>
.cv-page-wrapper {
  position: relative;
  height: 297mm;
}
</style>