<script setup>
import projects from "@/datasets/data-projects"
</script>

<template>
   <div class="cv-project-section">
      <p v-for="project, index in projects" :key="index">
         {{ project.description }}
         <p v-if="project.link"  class="project-link">- <a  :href="project.link">{{ project.link }}</a></p>
      </p>
   </div>
</template>

<style scoped>
   .project-link{
      text-indent: 2rem;
   }

   .cv-project-section{
      margin: 1rem 0;
      font-size: 1.05rem;
      line-height: 1.3rem;
   }
</style>