<script setup lang="ts">
import CvHorizontalSeparator from '@/components/cv/atom/CvHorizontalSeparator.vue';
defineProps({
  separator:{
    type:Boolean,
    default:false
  }
})
</script>

<template>
  <div class="cv-section-wrapper">
    <CvHorizontalSeparator :absolute="true" v-if="separator==true"></CvHorizontalSeparator>
    <div class="cv-section-content">
      <slot></slot>
    </div>
  </div>
</template>

<style scoped>
.cv-section-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  margin:1rem 0;
}

.cv-section-content {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap:1rem;

}
</style>