<script setup lang="ts">
import skills from "@/datasets/data-skills"
import CvSkillInfo from "@/components/cv/CvSkillInfo.vue";
import CvHorizontalSeparator from "@/components/cv/atom/CvHorizontalSeparator.vue";
</script>
<template>
    <div class="cv-skills-section">
        <CvSkillInfo class="cv-skills-info" :skill="skills[0]"></CvSkillInfo>
        <div class="cv-skills-separator">
            <CvHorizontalSeparator ></CvHorizontalSeparator>
        </div>
        <CvSkillInfo class="cv-skills-info" style="position:relative" :skill="skills[1]"></CvSkillInfo>
        <div class="cv-skills-separator">
            <CvHorizontalSeparator></CvHorizontalSeparator>
        </div>
        <CvSkillInfo class="cv-skills-info" style="position:relative" :skill="skills[2]"></CvSkillInfo>
    </div>
</template>

<style scoped>
.cv-skills-section {
    width: 100%;
    display: flex;
}

.cv-skills-info {
    flex: 0.3
}

.cv-skills-separator {
    flex: 0.05
}
</style>