<script setup lang="ts">
import CvHeader3 from "@/components/cv/atom/CvHeader3.vue";
import type {Skill} from "@/types/Skill";
import { PropType } from "vue";
import CvHorizontalSeparator from "@/components/cv/atom/CvHorizontalSeparator.vue";
defineProps({
    skill:Object as PropType<Skill>,
    separator:Boolean
})
</script>

<template>
    <div class="cv-skill-wrapper">
        <CvHorizontalSeparator v-if="separator==true"></CvHorizontalSeparator>
        <CvHeader3 class="cv-skill-header">{{skill.category}}</CvHeader3>
        <p class="cv-skill-description">{{skill.description}}</p>
    </div>
</template>

<style scoped>
    .cv-skill-wrapper{
        position: relative;
    }
    .cv-skill-header{
        margin-bottom: 0.5rem;
    }
    .cv-skill-description{
        font-size: 0.95rem;
        line-height: 1.1rem;
    }
</style>