<script setup>
import CvHeader1 from "@/components/cv/atom/CvHeader1.vue";
</script>

<template>
  <div class="title-wrapper">
    <div class="title-infos-wrapper">
      <CvHeader1>FABIEN</CvHeader1>
      <CvHeader1>CONTOLI</CvHeader1>
      <div class="title-infos">
        <p class="info-bold">GitHub : <a class="info-link" href="https://github.com/FabienCont">FabienCont</a></p>
        <p class="info-bold">GitLab : <a class="info-link" href="https://gitlab.com/FabienContoli">FabienContoli</a></p>
        <p>contoli.fabien@gmail.com</p>
        <p>80 boulevard valbenoite, 42100 Saint Etienne</p>
        <p>30 ans Permis B</p>
        <p>Anglais professionnel</p>
      </div>
    </div>
    <div class="title-infos-wrapper title-infos-wrapper-end">
        <CvHeader1>DEVELOPPEUR</CvHeader1>
        <CvHeader1>FULLSTACK</CvHeader1>
        <div class="title-infos">
        <p class="info-bold">2014 - 2017 Diplôme d'ingénieur</p>
        <p>EFREI - ASYRIA, Villejuif</p>
        <p class="info-bold">2012-1014 DUT GEII</p>
        <p>Université Paris XIII, Villetaneuse</p>
      </div>
    </div>
  </div>
</template>

<style scoped>

.title-wrapper {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding: 1.5rem 3rem 0.5rem 3rem;
  background-color: var(--color-background-title);
}

.title-infos{
  margin: 0.6rem 0;
  line-height: 1rem;
  font-size: 0.9rem;
  color: var(--color-text);
}

.title-infos-wrapper-end{
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: end;
}

.info-link{
  color: black;
  font-weight: 650;
}
.info-bold{
  font-weight: 650;
}
</style>
