<template>
    <h2 class="cv-h2">
        <slot></slot>
    </h2>
</template>

<style scoped>
.cv-h2 {
    font-size: 1.7rem;
    font-weight: 550;
    text-transform: uppercase;
    font-family: 'Avenir';
}
</style>