<template>
    <h1 class="cv-h1">
        <slot></slot>
    </h1>
</template>

<style scoped>
.cv-h1 {
    line-height: 1;
    color: var(--color-heading-1);
    font-weight: 500;
    font-size: 2rem;
    font-family: var(--font-family-header-1);
}
</style>