<script setup>
defineProps({
  absolute:{
    type:Boolean,
    default:false
  }
})
</script>

<template>
  <div :class="{'cv-absolute-separator':absolute}" class="cv-horizontal-separator"></div>
</template>

<style scoped>
.cv-horizontal-separator {
  height: 100%;
  width: 4px;
  background-color: var(--color-separator);
}

.cv-absolute-separator{
  position: absolute;
  left:3rem;
}
</style>