<template>
  <div class="print break-page"></div>
  <div class="cv-page-separator web"></div>
  <div style="margin-top: 2rem;"></div>
</template>

<style scoped>
.cv-page-separator {
  height: 2rem;
  width: 100%;
  background-color: var(--vt-c-background-pdf-like);
}
</style>