/* color palette from <https://github.com/vuejs/theme> */
@font-face {
  font-family: 'Louis George Cafe';
  src: url('@/assets/fonts/LouisGeorgeCafe/Louis George Cafe.ttf');
}

@font-face {
  font-family: 'Avenir';
  src: url('@/assets/fonts/Avenir/Metropolis-Regular.otf');
}


:root {
  --font-family-header-1:'Avenir';
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
  --vt-c-text-dark-3: rgba(50, 50, 50, 0.9);

  --vt-c-green-light-1: rgba(80, 220, 100, 1);
  --vt-c-green-dark-1: rgba(108, 184, 96, 1);

  --vt-c-grey: rgba(168, 182, 165, 1);

}

/* semantic color variables for this project */
:root {
  --color-background-pdf: var(--vt-c-background-pdf-like);
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-title: var(--vt-c-green-light-1);
  --color-background-heading: var(--vt-c-grey);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading-1: var(--vt-c-white);
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-black-soft);
  --color-text-1: var(--vt-c-text-dark-3);

  --color-separator: var(--vt-c-green-dark-1);

  --section-gap: 160px;

  --vt-c-background-pdf-like: rgba(212, 212, 215, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-background-header: var(--vt-c-green-light-1);
    --color-background-heading: var(--vt-c-text-dark-2);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading-1: var(--vt-c-text-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Louis George Cafe,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}