@import './base.css';

#app {
  max-width: 210mm;
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--color-background);
}

body {
  margin:0 auto;
  background-color: var(--color-background-pdf);
}

@media print {
  .web {
    display: none;
  }
}

@media not print {
  .print {
    display: none;
  }
}

@page {
  size: A4 portrait;
  margin: 0 !important;
}

@media print {
  * {
    float: none;
    overflow: hidden;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .break-page{
    break-before:always;
  }
}