<script setup lang="ts">
import CvTitle from '@/components/cv/CvTitle.vue'
import CvExperienceHeader from '@/components/cv/CvExperienceHeader.vue'
import CvExperienceSection from '@/components/cv/CvExperienceSection.vue'
import CvSkillsSection from '@/components/cv/CvSkillsSection.vue'
import CvProjectsSection from '@/components/cv/CvProjectsSection.vue'
import CvSectionWrapper from '@/components/cv/CvSectionWrapper.vue'
import CvPageWrapper from '@/components/cv/CvPageWrapper.vue'

import experiences from "@/datasets/data-experiences"
</script>

<template>
  <main>
    <CvPageWrapper>
      <CvTitle/>
      <CvExperienceHeader style="margin-top: 1rem;">Competences</CvExperienceHeader>
      <CvSectionWrapper>
        <CvSkillsSection></CvSkillsSection>
      </CvSectionWrapper>
      <CvExperienceHeader class="mb-2">Experiences 1 / 2</CvExperienceHeader>
      <CvSectionWrapper :separator="true">
        <CvExperienceSection :experience="experiences[0]" />
        <CvExperienceSection :experience="experiences[1]" />
        <CvExperienceSection :experience="experiences[2]" />
      </CvSectionWrapper>
    </CvPageWrapper>
    <CvPageWrapper :break="true">
      <CvExperienceHeader class="mb-2">Experiences 2 / 2</CvExperienceHeader>
      <CvSectionWrapper :separator="true">
        <CvExperienceSection :experience="experiences[3]" />
        <CvExperienceSection :experience="experiences[4]" />
        <CvExperienceSection :experience="experiences[5]" />
      </CvSectionWrapper>
      <CvExperienceHeader>Projets</CvExperienceHeader>
      <CvSectionWrapper>
        <CvProjectsSection></CvProjectsSection>
      </CvSectionWrapper>
    </CvPageWrapper>
  </main>
</template>

<style scoped>
.mb-2{
  margin-bottom: 2rem;
}
</style>